name: Pint

on: [push]

jobs:
  style:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - uses: aglipanci/laravel-pint-action@latest
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Pint
